.header {
  background-color: #002450;

  padding: 16px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  border-bottom: 1px solid #000;

  &_label {
    font-size: 32px;

    font-weight: 600;

    font-family: Montserrat, sans-serif;
    color: #fff;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 32px;

    &_item {
      font-size: 16px;

      font-weight: 400;
      font-family: Poppins, sans-serif;

      color: #fff;
    }
  }
}
